extends basicTemplate

block scripts
  script(src="javascripts/angular/apps/index.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js")
  script(src="javascripts/angular/lib/dist/angular-bootstrap-lightbox.min.js") 
  script(src="javascripts/angular/lib/dist/ng-file-upload-shim.js")
  script(src="javascripts/angular/lib/dist/ng-file-upload.min.js") 
  script(src="javascripts/angular/lib/angular-route.min.js")
  script(src="javascripts/angular/controllers/index_controller.js")
  script(src="javascripts/angular/controllers/login_controller.js")
  script(src="javascripts/angular/controllers/user_controller.js")
  script(src="javascripts/angular/controllers/post_controller.js")
  script(src="javascripts/angular/controllers/upload_controller.js")
  

  
